section{
    padding-bottom: 40px;
}
body{
    font-family: 'Poppins', sans-serif;
}

.flexible-container{
    display: flex;
    align-items: flex-end;
    
}
.flexible-container-2{
    display: flex;
    padding-top:50px;
    
    
    
}


.half-width{
    width: 50%;
    
    padding-left: 5%;
   
}

.half-width img{
    width:60%;
    
}

.speical{

    padding-left: 0%; 
    margin-right: 7%;
 }
.top-left{
    

    line-height: 40px;
    border-left: 5px solid;
    border-left-color: rgb(243, 89, 110);
    border-image-slice: 1;
    border-radius: 5px;
    
}

h1{
    font-size: 50px;
    padding-left: 10px;
    margin-bottom: 0px;
}
h2{
    font-size: 40px;
    padding: 0px;
    margin: 0px;
}


.link-button{
    text-decoration: none;
    background-image: linear-gradient(rgb(245, 142, 138), tomato);
    padding: 10px 40px;
    color:white;
    font-weight: 700;
    border-radius: 5px;
}


.orange-color{
    color: orange;
}

#section-2-header{
    text-align: center;
}

.experience-item{
    width: 33%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 10px;
    border-radius: 20px;
    padding: 20px;
    

}
.section-2-image-size{
    height: 120px;
    margin-left: 20px;
    margin-top: 0px;
    
     
}
#experience-1{
    background-color: rgba(169, 229, 240, 0.445);
}
#experience-2{
    background-color: rgba(243, 184, 238, 0.575);
}
#experience-3{
    background-color: rgba(242, 247, 185, 0.774);
}
